
@{ 
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyLove</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="/css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/style.css">

    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
            font-size: 14px;
        }

        #l-map {
            height: 500px;
            width: 100%;
        }

        #r-result {
            width: 100%;
        }
        .anchorBL {
            display: none;
        }
    </style>
    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=CVMFljg45uXTKbbNX3xC84PG6F7mHTb0"></script>
</head>

<body>
    <div class="btn-audio">
        <audio src="http://mylove.twad.club/Heartbeats.mp3" loop  />
    </div>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <div class="fh5co-hero" data-section="home">
                <div class="fh5co-overlay"></div>
                <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(http://mylove.twad.club/mylove-2.jpg/mylove.banner);">
                    <div class="display-t">
                        <div class="display-tc">
                            <div class="container">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="animate-box">
                                        <h1>10月7号</h1>
                                        <h2>艾勇&王萍萍</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <header id="fh5co-header-section" class="sticky-banner">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                        <h1 id="fh5co-logo"><a href="index.html">Nuptial</a></h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li><a href="index.html">Home</a></li>
                                <li>
                                    <a href="groom-bride.html" class="fh5co-sub-ddown">Groom &amp; Bride</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="#/wedding-free-html5-bootstrap-template-for-wedding-websites/">Wedding Template</a></li>
                                        <li><a href="#/marble-free-html5-bootstrap-template-for-portfolio-or-multi-purpose-websites/">Marble Template</a></li>
                                        <li><a href="#/tasty-free-bootstrap-html5-template-for-restaurant-websites/">Tasty Template</a></li>
                                        <li><a href="#/education-free-html5-bootstrap-template-elearning-school-websites/">Education Template</a></li>
                                        <li><a href="#/words-free-html5-bootstrap-template-multi-purpose/">Words Template</a></li>
                                    </ul>
                                </li>
                                <li><a href="when-where.html">When &amp; Where</a></li>
                                <li><a href="guest.html">Guest</a></li>
                                <li class="active"><a href="gallery.html">Gallery</a></li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <!-- end:header-top -->

            <div id="fh5co-gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                            <h2>Wedding Gallery</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="gallery animate-box">
                                <a class="gallery-img image-popup image-popup" href="http://mylove.twad.club/mylove-1.jpg/mylove"><img src="http://mylove.twad.club/mylove-1.jpg/mylove" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                            </div>
                            <div class="gallery animate-box">
                                <a class="gallery-img image-popup" href="http://mylove.twad.club/mylove-4.jpg/mylove"><img src="http://mylove.twad.club/mylove-4.jpg/mylove" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery animate-box">
                                <a class="gallery-img image-popup" href="http://mylove.twad.club/mylove-6.jpg/mylove"><img src="http://mylove.twad.club/mylove-6.jpg/mylove" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                            </div>
                            <div class="gallery animate-box">
                                <a class="gallery-img image-popup" href="http://mylove.twad.club/mylove-8.jpg/mylove"><img src="http://mylove.twad.club/mylove-8.jpg/mylove" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                            </div>
                            <div class="gallery animate-box">
                                <a class="gallery-img image-popup" href="http://mylove.twad.club/mylove-5.jpg/mylove"><img src="http://mylove.twad.club/mylove-5.jpg/mylove" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery animate-box">
                                <a class="gallery-img image-popup" href="images/gallery-3.jpg"><img src="images/gallery-3.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                            </div>
                            <div class="gallery animate-box">
                                <a class="gallery-img image-popup" href="images/gallery-4.jpg"><img src="images/gallery-4.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="fh5co-started" data-stellar-background-ratio="0.5">
                <div id="l-map"></div>
            </div>

            <footer>
                <div id="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>艾勇 &amp;王萍萍</h2>
                            </div>
                            <div class="col-md-6 col-md-offset-3 text-center">

                                <p><a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">鄂ICP备15019015号-1</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->
    <!-- jQuery -->
    <script src="~/js/scripts.min.js"></script>

</body>


</html>
<script type="text/javascript">
    // 百度地图API功能
    var sContent = "天桥康城一楼，老乡村(碧山路店)一楼大厅";
    var map = new BMap.Map("l-map");
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl());    
    var point = new BMap.Point(113.7055356737, 31.2638181151);
    map.centerAndZoom(point, 18);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);   
    var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
    map.openInfoWindow(infoWindow, point); //开启信息窗口
</script>